@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  body {
    background-color: #1e1e1e;
  }
}

// Animations
body {
  transition: background-color 0.125s ease-in;
}

.jse-text-mode {
  transition: background-color 0.125s ease-in;
}

.jse-tree-mode {
  transition: background-color 0.125s ease-in;
}

.jse-navigation-bar {
  transition: background-color 0.125s ease-in;
}

.jse-contents {
  transition: background-color 0.125s ease-in;
}
